@import './client/components/scenes/level.css';
@import './client/components/scenes/title.css';

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  margin: 0 auto;
  min-height: 80vh;
  place-items: center;
  width: 80%;
}

section {
  display: flex;
  flex-direction: column;
}

section:empty {
  display: none;
}
